<header>
  <div class="container">
    <ul>
      <li><a href="/">All Articles</a></li>
      <li><a href="/new-article">Add New Article</a></li>
      <li><a href="" class="mode">Change Mode</a></li>
      <li><a href="">Support Us</a></li>
    </ul>
  </div>
</header>