<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  
  <section class="not-found">Error 404 Page Not Found ❌❌</section>
  
  <%- include('./partials/footer') %>
</body>
</html>